<a href="https://colab.research.google.com/github/wmendozaFS/Pandas/blob/main/10EJ02_01_Pandas_Estructuras_de_datos_y_operaciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><u><H1>Pandas-Estructuras de datos y Operaciones</H1></u></center>

## La biblioteca Pandas tiene las siguientes estructuras de datos principales:

1.Series

2.DataFrames

## SERIES:

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.Series(np.random.randn(8))

0   -0.367339
1    0.285686
2   -0.339557
3   -0.481870
4   -0.549037
5   -0.016422
6   -0.791249
7   -0.454304
dtype: float64

### El índice de la serie se puede personalizar con valores de índice (letras o números):

In [4]:
pd.Series(np.random.randn(5), index=[0,1,2,3,4])

0   -0.298065
1    0.320827
2    0.021400
3    0.451428
4   -0.599920
dtype: float64

### También podemos usar un dictado de Python:

In [5]:
d = {'A': 6, 'B': 3, 'C': 'abc', 'D': np.exp(2)}
pd.Series(d)

A           6
B           3
C         abc
D    7.389056
dtype: object

## DataFrame:

<b>DataFrame es una estructura de datos 2D con columnas de diferentes tipos de datos y las filas se denominan índice. Se puede formar a partir de las siguientes estructuras de datos:
</b>
1. Numpy array
2. Lists
3. Dicts
4. Series

In [6]:
#using dict of series
d = {'column_1': pd.Series([1,2,3]),
    'column_2': pd.Series(['abc',10.5,'xy'])}
df = pd.DataFrame(d)
df

   column_1 column_2
0         1      abc
1         2     10.5
2         3       xy

In [7]:
#using dict of lists
d = {'column_1': [1,2,3],
    'column_2': ['abc',10.5,'xy'],
    'column_3': [14,15,26]}
df = pd.DataFrame(d)
df

   column_1 column_2  column_3
0         1      abc        14
1         2     10.5        15
2         3       xy        26

In [8]:
#using numpy array
array = np.array([[0.8, 5.5], [3.7, 12.4]])
df = pd.DataFrame({'Column1': array[:, 0], 'Column2': array[:, 1]}, index=['A','B'])
print(df)

   Column1  Column2
A      0.8      5.5
B      3.7     12.4

### Selección e indexación:

In [9]:
# selecting a column
df['Column1']

A    0.8
B    3.7
Name: Column1, dtype: float64

In [10]:
# selecting more than one column
df[['Column1','Column2']]

   Column1  Column2
A      0.8      5.5
B      3.7     12.4

### <u>loc e iloc:</u>
#### -loc funciona en etiquetas en el índice.
#### -iloc trabaja en las posiciones en el índice (por lo que solo toma números enteros).

In [11]:
#selecting rows
df.loc['A']

Column1    0.8
Column2    5.5
Name: A, dtype: float64

In [ ]:
df.iloc[0]

Column1    0.8
Column2    5.5
Name: A, dtype: float64

In [ ]:
type(df['Column1'])

pandas.core.series.Series

### Insertando nueva columna

In [ ]:
df['new'] = df['Column1'] + df['Column2']
df

   Column1  Column2   new
A      0.8      5.5   6.3
B      3.7     12.4  16.1

### Borrando una columna

In [ ]:
df.drop('new',axis=1,inplace=True) # use inplace to make changes permanent
df

   Column1  Column2
A      0.8      5.5
B      3.7     12.4

### Seleccionar un subconjunto del marco de datos con filas y columnas

In [ ]:
df.loc['A','Column1']

0.8

In [ ]:
# reset the index
df.reset_index(inplace=True)
df

   level_0 index  Column1  Column2
0        0     A      0.8      5.5
1        1     B      3.7     12.4

In [ ]:
df.loc[[0,1],['index','Column2']]

  index  Column2
0     A      5.5
1     B     12.4

### Selección por condición:

In [ ]:
df[df['Column1']>1][['index','Column2']]

  index  Column2
1     B     12.4

In [ ]:
# AND condition
df[(df['Column1']>1) & (df['Column2'] > 5)]

   level_0 index  Column1  Column2
1        1     B      3.7     12.4

In [ ]:
# OR condition
df[(df['Column1']>1) | (df['Column2'] <= 5.5)]

   level_0 index  Column1  Column2
0        0     A      0.8      5.5
1        1     B      3.7     12.4

In [ ]:
# NOT condition
df[~((df['Column1']>1) | (df['Column2'] <= 5.5))]

Empty DataFrame
Columns: [level_0, index, Column1, Column2]
Index: []

### Propiedades del índice:

In [ ]:
#Array of index values
df.index.values

array([0, 1], dtype=int64)

In [ ]:
#Using the split function of strings to have a list of items
a = '10 abc'.split()
print(a)

['10', 'abc']

In [ ]:
#Inserting new column since list values
df['Column3'] = a
df

   level_0 index  Column1  Column2 Column3
0        0     A      0.8      5.5      10
1        1     B      3.7     12.4     abc

In [ ]:
#Inserting new row
df.loc[2]=[2,'C',32,11.8,'xyz']
df

   level_0 index  Column1  Column2 Column3
0        0     A      0.8      5.5      10
1        1     B      3.7     12.4     abc
2        2     C     32.0     11.8     xyz

## OPERACIONES:

In [ ]:
df = pd.DataFrame({'col1':[10,20,30,40,50],'col2':[4,5,6,5,2],'col3':['abc','def','ghi','xyz','123']})
df.head()

   col1  col2 col3
0    10     4  abc
1    20     5  def
2    30     6  ghi
3    40     5  xyz
4    50     2  123

In [ ]:
df['col2'].sum()

22

In [ ]:
(df['col2']==5).sum()

2

In [ ]:
df['col2'].count()

5

In [ ]:
df['col2'].value_counts()

5    2
4    1
6    1
2    1
Name: col2, dtype: int64

In [ ]:
df['col2'].values

array([4, 5, 6, 5, 2], dtype=int64)

In [ ]:
a = df.columns.values
s = sorted(a)
print(s)

['col1', 'col2', 'col3']

In [ ]:
df.sort_values(by='col2')

   col1  col2 col3
4    50     2  123
0    10     4  abc
1    20     5  def
3    40     5  xyz
2    30     6  ghi

In [ ]:
df.loc[5]=[np.nan,2,np.nan]
df

   col1  col2 col3
0  10.0   4.0  abc
1  20.0   5.0  def
2  30.0   6.0  ghi
3  40.0   5.0  xyz
4  50.0   2.0  123
5   NaN   2.0  NaN

In [ ]:
df.dropna(inplace=True)
df

   col1  col2 col3
0  10.0   4.0  abc
1  20.0   5.0  def
2  30.0   6.0  ghi
3  40.0   5.0  xyz
4  50.0   2.0  123

In [ ]:
df.loc[5]=[np.nan,2,np.nan]
df.fillna('sin valor',inplace=True)
df

        col1  col2       col3
0       10.0   4.0        abc
1       20.0   5.0        def
2       30.0   6.0        ghi
3       40.0   5.0        xyz
4       50.0   2.0        123
5  sin valor   2.0  sin valor

In [ ]:
df.loc[6]=[np.nan,2,np.nan]
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False
6   True  False   True

In [ ]:
#Reset index
df.reset_index(inplace=True)
df

   index       col1  col2       col3
0      0       10.0   4.0        abc
1      1       20.0   5.0        def
2      2       30.0   6.0        ghi
3      3       40.0   5.0        xyz
4      4       50.0   2.0        123
5      5  sin valor   2.0  sin valor
6      6        NaN   2.0        NaN

In [ ]:
#Sort by index
df.sort_index(ascending=False,inplace=True)
df

   index       col1  col2       col3
6      6        NaN   2.0        NaN
5      5  sin valor   2.0  sin valor
4      4       50.0   2.0        123
3      3       40.0   5.0        xyz
2      2       30.0   6.0        ghi
1      1       20.0   5.0        def
0      0       10.0   4.0        abc

In [ ]:
#Setting index
df.set_index('col3',inplace=True)
df

           index       col1  col2
col3
NaN            6        NaN   2.0
sin valor      5  sin valor   2.0
123            4       50.0   2.0
xyz            3       40.0   5.0
ghi            2       30.0   6.0
def            1       20.0   5.0
abc            0       10.0   4.0

In [ ]:
df.reset_index(inplace=True)
df

        col3  index       col1  col2
0        NaN      6        NaN   2.0
1  sin valor      5  sin valor   2.0
2        123      4       50.0   2.0
3        xyz      3       40.0   5.0
4        ghi      2       30.0   6.0
5        def      1       20.0   5.0
6        abc      0       10.0   4.0

### OPERACIONES STRINGS:

In [ ]:
df['col3'].str.extract('(\w+)',expand=False)

0    NaN
1    sin
2    123
3    xyz
4    ghi
5    def
6    abc
Name: col3, dtype: object

### Filtering:

In [ ]:
df[df['col3']=='abc']

  col3  index  col1  col2
6  abc      0  10.0   4.0

### Uppercase/Lowercase:

In [ ]:
df['col3'].str.upper()#lower()

0          NaN
1    SIN VALOR
2          123
3          XYZ
4          GHI
5          DEF
6          ABC
Name: col3, dtype: object

### Lenght of the string:

In [ ]:
df['col3'].str.len()

0    NaN
1    9.0
2    3.0
3    3.0
4    3.0
5    3.0
6    3.0
Name: col3, dtype: float64

### Split:

In [ ]:
df['col3'].str.split('c')

0            NaN
1    [sin valor]
2          [123]
3          [xyz]
4          [ghi]
5          [def]
6         [ab, ]
Name: col3, dtype: object

### Replace:

In [ ]:
df['col3'].str.replace(' ','__')

0           NaN
1    sin__valor
2           123
3           xyz
4           ghi
5           def
6           abc
Name: col3, dtype: object

### Contains:

In [ ]:
c=df['col3'].str.contains('a')
c

0      NaN
1     True
2    False
3    False
4    False
5    False
6     True
Name: col3, dtype: object

### ONE HOT ENCONDING:

In [ ]:
dfhot = pd.DataFrame({'gender':['male','female','male','female','male'],'age_range':['young','adult','senior','young','adult']})
dfhot

   gender age_range
0    male     young
1  female     adult
2    male    senior
3  female     young
4    male     adult

In [ ]:
data_dummies = pd.get_dummies(dfhot)
data_dummies

,gender_female,gender_male,age_range_adult,age_range_senior,age_range_young
0,0,1,0,0,1
1,1,0,1,0,0
2,0,1,0,1,0
3,1,0,0,0,1
4,0,1,1,0,0

## Reference:

https://pandas.pydata.org/pandas-docs/stable/dsintro.html

https://pandas.pydata.org/pandas-docs/stable/basics.html